<form method="post" action="/storage/vendors">
  <div class="alert alert-primary" role="alert">
    ADD VENDOR
  </div>
  <input class="button button-success" name="vendor" type="text">

  <input type="submit">
	
	[% VENDORS %]
</form>